body {
    margin: 0;
    padding: 0;
    background-color: #494A50;
    color: #fff;
    font-family: monospace;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    flex-wrap: wrap;
}

/* up */

.up {
    height: 2rem;
    display: flex;
    flex-wrap: nowrap;
}

.side-bar-upper {
    width: calc(14rem - 6px);
    height: calc(100% - 6px);
    background-color: #D8D8E6;
    margin: 3px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.terminal-switch {
    width: 2rem;
    background-color: #67676a;
    height: 100%;
    text-align: center;
    align-items: center;
}

.terminal input {
    width: calc(100% - 2rem);
    height: 100%;
    background-color: #D9D9D9;
    border: none;
    font-family: monospace;
    font-size: 20px;
    margin: 0px;
    padding: 2px;
}

.terminal input:focus {
    outline: none;
    background-color: #d1d1d1;
}

.terminal {
    display: flex;
    flex-wrap: nowrap;
    width: calc(100dvw - 14rem);
    height: 100%;
    background-color: #D9D9D9;
}

/* mid */

.mid {
    height: calc(100dvh - 3rem);
    display: flex;
}


.side-bar {
    width: 14rem;
    height: 100%;
    background-color: #494A50;
}

.text-box {
    width: calc(100dvw - 15rem);
    height: 100%;
    background-color: #1e1e20;
    overflow-y: scroll;
}

.line-count {
    width: 2rem;
    height: 100%;
    background-color: #b0afb6;
    overflow-y: hidden;
}

/* down */

.down {
    height: 1rem;
    display: flex;
}

.bellow-bar {
    width: 100dvw;
    height: 100%;
    background-color: #D9D9D9;
    align-self: flex-end;
}

/* tool */

.no-scroll {
    -ms-overflow-style: none;    /* Internet Explorer 10+ */
    scrollbar-width: none;       /* Firefox */
    
}

.no-scroll::-webkit-scrollbar {
    display: none;               /* Safari and Chrome */
}