@font-face {
    font-family: "Story Script";
    src: url(./asset/font/StoryScript-Regular.ttf) format("truetype");
}

.title{
    width: 100dvw;
    height: 40px;
    background-color: #2f3241;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    app-region: drag;
    span{
        left: 10px;
        position: absolute;
        font-size: 14px;
        font-family: "noto sans tc";
        margin-left: 5px;
        user-select: none;
    }
    input{
        border: 0px;
        width: calc(60dvw - 200px);
        height: 32px;
        app-region: no-drag;
        border-radius: 5px;
        min-width: 100px;
    }
}

body{
    margin: 0px;
}